*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
ul,
li,
a,
table,
tr,
td,
th {
  margin: 0;
  padding: 0;
}
html {
  color: #212121;
}

#main-container {
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
}

.message-row {
  min-height: 50px;
  background-color: #cfd8dc;
}
